.pitch-grid {
  display: grid;
  grid-template-columns: repeat(5, 125px);
  grid-template-rows: repeat(5, 100px);
  gap: 5px;

  width: 850px;          
  height: 700px;         
  margin: 100px auto 0 auto;

  background-repeat: no-repeat;
  background-position: center;

  border-radius: 10px;
}

.formation-select {
  font-size: 18px;        
  padding: 8px 15px;     
  width: 180px;           
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #282828;
  color: white;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

#pitch {
  box-shadow: none !important;
  transition: none !important;

}

.player-input {
  text-align: center !important;
  font-family: Arvo, sans-serif !important;
  background-color: #282828 !important;
  color: white !important;
}