.export-controls {
  gap: 30px;
}

.manager-image {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  object-fit: cover;
  z-index: 20;
  user-select: none;
}

.pitch-container {
  width: 600px;
  height: 750px;
  margin: 2px auto 0 auto;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  cursor: default;
  background-size: 100% 102.5%;
  background-repeat: no-repeat;
  background-position: center;
}

.formation-select {
  font-size: 18px;
  padding: 8px 15px;
  width: 180px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #282828;
  color: white;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

#pitch {
  box-shadow: none !important;
  transition: none !important;
}

.player-input {
  text-align: center !important;
  font-family: Arvo, sans-serif !important;
  background-color: #282828 !important;
  color: white !important;
}

.filename-label {
  font-size: 18px;
}

.team-logo {
  height: 24px;
  width: 24px;
  object-fit: contain;
}
.player-circle {
  width: 45px;
  height: 45px;
}
.captain-badge {
  width: 16px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
}
.subs-badge {
  width: 24px;
  height: 24px;
  font-size: 13px;
}
.sub-input {
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 4px;
  background-color: #444;
  color: white;
  border: 1px solid #ccc;
  text-align: center;
  width: auto;
}

.sub-input-container {
  position: absolute;
  top: var(--top);
  left: var(--left);
  transform: translateX(-50%);
  z-index: 9;
}


@media (max-width: 378px) {
  .formation-select {
    font-size: 14px !important;
    padding: 4px 8px !important;
    width: 80px !important;
    border-radius: 4px;
    background-color: #282828;
    border: 1px solid #ccc;
  }

  .pitch-container {
    width: 350px;
    height: 420px;
  }

  .hide-on-mobile {
    display: none;
  }

  .export-controls {
    gap: 10px !important;
  }

  .manager-image {
    width: 40px;
    height: 40px;
  }

  .filename-label {
    font-size: 14px;
    bottom: -1px !important;
  }

  .team-logo {
    height: 14px;
    width: 14px;
    margin-top: 2px;
  }
    .player-circle {
    width: 22.5px;
    height: 22.5px;
    font-size: 9px !important;
  }
    .captain-badge {
    width: 8px;
    height: 8px;
    font-size: 6px;
    line-height: 10px;
    right: -5px !important;
    bottom: -1px !important;
  }
   .subs-badge {
    width: 13px;
    height: 13px;
    font-size: 6px;
    top: -7px !important;
    right: -7px !important;
  }
    .player-input {
    font-size: 8px !important;
    padding: 1px 2px !important;
    line-height: 14px !important;
    max-width: 55px !important;                
  }

    .player-input-wrapper {
    left: calc(var(--left-pos) - 12px) !important;
    top: calc(var(--top-pos) - 25px) !important;
    touch-action: none;
  }
  .sub-input {
    font-size: 8px;
    padding: 1px 3px;
    border-radius: 3px;
  }
  .sub-input-container {
    top: calc(var(--top) + 8px);  /* example: move up slightly on mobile */
    left: calc(var(--left) - 18px); /* example: shift left on mobile */

 }
}