.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #5b13c0;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.squad-search-panel {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: #222;
  padding: 20px;
  color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.7);
  z-index: 1000;
  overflow-y: auto;
}
.squad-search-panel input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #333;
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
}
.pitch-options-sidebar {
  background-color: #222;
  width: 300px;
}
.pitch-options-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.reset-pitch-color-btn {
  margin-top: 10px;
  padding: 6px 12px;
  background-color: #555;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  font-size: 1rem; /* default size */
}
    .toggle-filename-btn {
    font-size: 18px; /* smaller font on mobile */
    margin-bottom: 20px;
  }
  .close-btn {
    font-size: 18px;
  }
@media (max-width: 378px) {
  .hide-on-mobile {
    display: none;
  }

  .squad-search-panel {
    position: static;
    width: 100%;
    box-shadow: none;
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
  }

    .pitch-options-sidebar {
    background-color: rgba(34, 34, 34, 0.55); /* semi-transparent dark */
    backdrop-filter: blur(2px); /* optional: nice blur behind */
    width: 180px;
  }
  .pitch-options-heading {
    font-size: 20px;  /* smaller font on mobile */
  }
  .reset-pitch-color-btn {
    font-size: 15px;
  }
    .toggle-filename-btn {
    font-size: 12px !important; /* smaller font on mobile */
    margin-bottom: 10px !important
  }
  .close-btn {
    font-size: 12px !important;
  }
}